//- about.pug
extends layout

block content
    .about-container
        .spacer
        .about-content
            .about-header 
                h1 About

            .about-section 
                p 
                    | Hey there! I'm Cyrus, also known as hecate946. I'm a third-year student at UCLA, double majoring in Computer Science and Clarinet Performance. 
                    | Right now, I'm a Software Engineer Intern at Taiki Inc, where I'm working on a project to make tax documents easier to deal with using a universal API. 
                    | Whether it's coding, solving problems, or playing the clarinet, I'm always up for a challenge and excited to keep learning.

            .interests-section
                .interest.coding
                    h3 Coding
                    p 
                        | I started coding in my sophomore year of high school, when I began development on a number of functional discord bots.
                        | Although I initially started coding to find quick solutions to tedious tasks, I quickly realized that I had a passion for it,
                        | and decided to pursue a career in software engineering. My first major project was a Discord bot called Neutra, which ultimately grew 
                        | to provide data analytics for 500,000+ users. Encouraged by the success of Neutra, I began to explore other areas of software development,
                        | such as web development, app creation, as well as other miscellaneous projects. 

                .interest.music
                    h3 Music
                    p 
                        | Ever since I was a child, classical music has been a big part of my life. 
                        | I've played the piano since I was 6 years old, and seriously considered 
                        | pursuing a career as a pianist before realizing that the piano's soloistic nature did not 
                        | align with my desire to collaborate with others. I still play the piano regularly, but after 
                        | learning clarinet from my then-teacher Robert Zelickman, I decided to pursue a career in clarinet performance.
                        | I currently study at UCLA under LA Phil principal clarinetist Boris Allakhverdyan, where half of my time is spent in 
                        | a basement practice room searching for a good reed.

                .interest.games
                    h3 Games
                    p 
                        | After becoming fascinated with the appearance of chess pieces at the age of 5, I learned the basics from my father.
                        | Several years later, fueled by my obsessive nature,
                        | I would play 6+ hour matches, drill tactical puzzles, and read books on chess theory.
                        | Although my goal is eventually to play competitively in tournaments, I recognize that I have bigger goals in other fields that take priority. 
                        | Nevertheless, I play blitz games casually on chess.com, where I've reached a peak rating of 2450.
                        | Recently, I've shifted my focus to other games, such as Backgammon, Poker, Guandan, and Sheng-Ji.

                .interest.sports
                    h3 Sports
                    p 
                        | Growing up, I played competitive tennis at my local clubs in San Diego. Although tennis was a passion of mine, I decided to quit in my junior year of high school
                        | in order to prioritize my academics. About a year ago, after being introduced to Pickleball by my girlfriend's parents, I became obsessed 
                        | with this social, yet strategic game. I frequent a local park where I find competitive games against ex-pro tennis
                        | players who have converted to pickleball, and other equally competitive and like-minded people. I now play Pickleball on the UCLA club team, of which I was a founding member.
        .spacer