//- index.pug
extends layout

block content
  .home-header
    h1 hi! website in progress
  .home-grid
    .piano
      a(href="#")
        img(src="/assets/icons/painting.jpg" alt="Art")
    .clarinet
      a(href="#")
        img(src="/assets/icons/music.jpg" alt="Music")
    .books
      a(href="#")
        img(src="/assets/icons/books.png" alt="Books")
    .chess
      a(href="#")
        img(src="/assets/icons/chess_board.png" alt="Chess")
    .computer
      a(href="#")
        img(src="/assets/icons/code.jpg" alt="Code")
    .pickleball
      a(href="#")
        img(src="/assets/icons/pickleball.png" alt="Pickleball")
