//- projects.pug
extends layout

block content
  h1 Work in progress...
  //- .projects-container
  //-   .projects-card
  //-     h2 Projects
  //-     ul.project-list
  //-       li
  //-         a(href="projects/neutra.html") Neutra
  //-       li
  //-         a(href="projects/key_duplicator.html") Key Duplicator
  //-       li
  //-         a(href="projects/c_webserver.html") C Webserver
  //-       li
  //-         a(href="projects/sketyl.html") Sketyl
  //-       li
  //-         a(href="projects/isabellaweaverart.html") Artist Portfolio Website
  //-       li
  //-         a(href="projects/force_simulator.html") Force Simulator
