//- neutra.pug
extends ../layout

block content
  .project-details
    h2 Neutra
    p A moderation and stat tracking bot used by over 500,000 users.
    ul.features
      li Designed a secure and efficient database schema using Postgres.
      li Delivered comprehensive statistics on message/user data for security.
      li Developed a music playing feature with custom audio effects using FFMPEG.
      li Engineered a versatile auto-moderation system for user management.
    a.button(href="https://github.com/hecate946/neutra" target="_blank") View on GitHub
