footer.footer 
  .footer-section 
    a.play-redirect(href="mailto:hecate946@gmail.com") 
      img(src="/assets/icons/contact.png", alt="Mail Icon", width="40px", height="40px")
  .footer-section 
    span.copywrite &copy;
    | Cyrus Asasi 2024
